@using MyMovieWatchlist.Models
@helper GetTreeView(List<MyMovieWatchlist.Models.SiteMenu> siteMenu, int parentID)
{
foreach (SiteMenu i in siteMenu.Where(a => a.ParentMenuId.Equals(parentID)))
{
        <li>
            @{ var submenu = siteMenu.Count(a => a.ParentMenuId.Equals(i.Id));}
            @if (submenu > 0)
            {
                <span class="collapse1 collapsible">&nbsp;</span>
            }
            else
            {
                <span style="width:15px; display:inline-block">&nbsp;</span>
            }
            <span>
                <a href="@i.NavUrl">@i.MenuName</a>
            </span>
            @if (submenu > 0)
            {
                <ul>
                    @TreeView.GetTreeView(siteMenu, i.Id)

                </ul>
            }
        </li>
                }
}

